<%- include("header") %>
<div class="card mb-8">
  <div class="card-header">
    Information
  </div>
  <div class="row no-gutters">

      <img src="/images/sunflower.jpg" class="card-img" alt="..." style="width: 10rem;>

    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">Address</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <h5 class="card-title">Call us</h5>
        <p class="card-text">123456789</p>
      </div>

  </div>
  <div class="card-footer text-muted">

  </div>


</div>
<div class="box1">

</div>
<form class="" action="index.html" method="post">
  <div class="form-group">
    <label for="">Email us</label>
    <textarea name="name" rows="8" cols="80" class="input-group-text"></textarea>

  </div>
  <button type="submit" name="button" class="btn btn-primary">Submit</button>
</form>

<%- include("footer") %>
